.width740{
    width: 740px !important;
}
.docinputbox {
    border: 1px solid #D3D3CE;
    padding: 0.521vw 0.866vw !important;
    border-radius: 6px !important;
}
.docOverlypanel.p-overlaypanel{
  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    padding: 0px !important;

box-shadow: unset !important;
background: transepernt !important;
}
.docOverlypanel .p-overlaypanel-content {
padding: 5px !important;
}

.custmSidebar.docsidebar.p-sidebar .p-sidebar-content {
    /* padding: 0 !important; */
    padding: 0rem 0.25rem !important;
}

.p-multiselect-header
{
    display: none;
}
 .p-radiobutton .p-radiobutton-box .p-radiobutton-icon 
{
    width: 8px !important;
    height: 8px !important;
}
.p-radiobutton .p-radiobutton-box 
{
    width: 18px !important;
    height: 18px !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item 
{
    padding: 0.2rem 1.25rem;
}
.conditionbtn 
{
    border: 2px solid #d1d5db;
    background: #ffffff;
    color: #4b5563;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.custRadioButton .p-radiobutton
{
    border: 2px solid #d1d5db;
    background: #ffffff;
    color: #4b5563;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}