.width740{
    width: 740px !important;
}
.docinputbox {
    border: 1px solid #D3D3CE;
    padding: 0.521vw 0.866vw !important;
    border-radius: 6px !important;
}
.docOverlypanel.p-overlaypanel{
  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    padding: 0px !important;

box-shadow: unset !important;
background: transepernt !important;
}
.docOverlypanel .p-overlaypanel-content {
padding: 5px !important;
}

.custmSidebar.docsidebar.p-sidebar .p-sidebar-content {
    /* padding: 0 !important; */
    padding: 0rem 0.25rem !important;
}

.p-multiselect-header
{
    display: none;
}