
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}
body{
  background: red;
}
@font-face {
  font-family: 'assetsmanage';
  src:  url('/assets/fonts/assetsmanage.eot?ibrc4u');
  src:  url('/assets/fonts/assetsmanage.eot?ibrc4u#iefix') format('embedded-opentype'),
    url('/assets/fonts/assetsmanage.ttf?ibrc4u') format('truetype'),
    url('/assets/fonts/assetsmanage.woff?ibrc4u') format('woff'),
    url('/assets/fonts/assetsmanage.svg?ibrc4u#assetsmanage') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="asetsmng-"], [class*=" asetsmng-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'assetsmanage' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.asetsmng-arrow-down-circle-fill:before {content: "\e900";}
.asetsmng-arrow-down-circle-outline:before {content: "\e901";}
.asetsmng-arrow-down-line:before {content: "\e902";}
.asetsmng-arrow-down-think:before {content: "\e903";}
.asetsmng-arrow-left-line:before {content: "\e904";}
.asetsmng-arrow-left-think:before {content: "\e905";}
.asetsmng-arrow-right:before {content: "\e906";}
.asetsmng-arrow-right-think:before {content: "\e907";}
.asetsmng-arrow-up:before {content: "\e908";}
.asetsmng-arrow-up-circle-fill:before {content: "\e909";}
.asetsmng-arrow-up-circle-outline:before {content: "\e90a";}
.asetsmng-arrow-up-line:before {content: "\e90b";}
.asetsmng-calendar:before {content: "\e90c";}
.asetsmng-calendar-fill:before {content: "\e90d";}
.asetsmng-close-circle:before {content: "\e90e";}
.asetsmng-cross:before {content: "\e90f";}
.asetsmng-download:before {content: "\e910";}
.asetsmng-dropdown-arrow:before {content: "\e911";}
.asetsmng-dropdown-search:before {content: "\e912";}
.asetsmng-edit-rounded-box:before {content: "\e913";}
.asetsmng-export:before {content: "\e914";}
.asetsmng-eye:before {content: "\e915";}
.asetsmng-filter-add:before {content: "\e916";}
.asetsmng-filter-search:before {content: "\e917";}
.asetsmng-folder:before {content: "\e918";}
.asetsmng-folder-fill:before {content: "\e919";}
.asetsmng-grid-outline:before {content: "\e91a";}
.asetsmng-home:before {content: "\e91b";}
.asetsmng-id-fill:before {content: "\e91c";}
.asetsmng-import:before {content: "\e91d";}
.asetsmng-Info-circle:before {content: "\e91e";}
.asetsmng-info-i:before {content: "\e91f";}
.asetsmng-lamp:before {content: "\e920";}
.asetsmng-linechart-outline:before {content: "\e921";}
.asetsmng-loaction:before {content: "\e922";}
.asetsmng-map-view:before {content: "\e923";}
.asetsmng-menu:before {content: "\e924";}
.asetsmng-microphone:before {content: "\e925";}
.asetsmng-open-folder:before {content: "\e926";}
.asetsmng-pdf-format:before {content: "\e927";}
.asetsmng-plus:before {content: "\e928";}
.asetsmng-plus-rounded-box:before {content: "\e929";}
.asetsmng-printer:before {content: "\e92a";}
.asetsmng-right-tick:before {content: "\e92b";}
.asetsmng-right-tick-fill:before {content: "\e92c";}
.asetsmng-search-big:before {content: "\e92d";}
.asetsmng-share:before {content: "\e92e";}
.asetsmng-sortable:before {content: "\e92f";}
.asetsmng-td-filter:before {content: "\e930";}
.asetsmng-td-search:before {content: "\e931";}
.asetsmng-text-doc:before {content: "\e932";}
.asetsmng-three-dots-box:before {content: "\e933";}
.asetsmng-three-dots-circle:before {content: "\e934";}
.asetsmng-trash:before {content: "\e935";}
.asetsmng-unlock:before {content: "\e936";}
.asetsmng-upload:before {content: "\e937";}
.asetsmng-edit-pen:before {content: "\e938";}
.asetsmng-arrow-down:before {content: "\e939";}
.asetsmng-right-tick-outline:before {content: "\e93a";}
.asetsmng-file-copy:before {content: "\e93b";}
.asetsmng-download-file:before {content: "\e93c";}
.asetsmng-printer-fill:before {content: "\e93d";}
.asetsmng-share-file:before {content: "\e93e";}
.asetsmng-minus:before {content: "\e93f";}


/* common style */
body { 
  font-size: 14px; 
  background: #F9F9FC;
  color: #000000;
}

.boxShadow1 { box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10); }

.p-button:focus, .p-dropdown:not(.p-disabled).p-focus, .p-inputtext:enabled:focus, .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus, .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus, .p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext { box-shadow: none !important; }
/* common style End */

/* V.K style */
.productSearch .p-inputtext { border: 1px solid #E4E7EC; color: #84878D; border-radius: 12px; padding: 20px 55px 20px 62px; width: 100%; min-width: 800px; }
.productSearch .p-input-icon-left { width: 100%; }
.productSearch .p-input-icon-left > i { margin: 0; left: 30px; top: 50%; transform: translateY(-50%); }
.productSearch .p-button { display: block; background: #91A5C3; height: 100%; width: 100%; min-width: 114px; border-radius: 12px; border-color: #91A5C3; }
.productSearch .p-button-label { color: white; font-weight: 400; font-size: 20px; }
.productSearch i.asetsmng-microphone { right: 28px; position: absolute; left: auto !important; }
.custTavbview.marketAlertTabs .react-tabs__tab-list .react-tabs__tab { border-radius: 8px; padding: 10px 12px; }
.custTavbview.marketAlertTabs .bordercolorB { border-color: #E4E7EC; }
.custaccordion .p-accordion .p-accordion-header .p-accordion-header-link { position: relative; padding: 20px; background: #DFE7FA; color: #262626; font-size: 16px; font-weight: 500; border: none; border-radius: 8px;  }
.custaccordion .p-accordion .p-accordion-content { border: none; padding: 0; }
.custaccordion .p-accordion .p-accordion-tab { margin-bottom: 8px; }
.custaccordion .p-datatable .p-datatable-tbody > tr > td { padding: 10px 20px; font-size: 14px; color: #424242; border-color: #E4E7EC; }
.custaccordion .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon { position: absolute; right: 20px; margin: 0; color: #AF1E27; transform: rotate(90deg); }
.custaccordion .p-accordion .p-accordion-header.p-highlight .p-accordion-header-link .p-accordion-toggle-icon { position: absolute; right: 20px; margin: 0; color: #AF1E27; transform: rotate(180deg); }
.custPriceDropdown .p-dropdown { background: #F9F9FC; border-color: #EDEDF7; min-width: 100px; }
.custPriceDropdown .p-dropdown .p-dropdown-label { color: #3A3E49; font-weight: 500; font-size: 14px; padding: 8px 12px; }
.custPriceDropdown .p-dropdown .p-dropdown-trigger { width: 2rem; }
.custTavbview .marketAlertCharttabs .react-tabs__tab-list .react-tabs__tab { border-color: #BECDE3; }
.custTavbview .marketAlertCharttabs .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {background: #91A5C3; border-color: #91A5C3; border-radius: 4px; }
.marketAlertSidebar { width: 800px; transition: all 0.3s ease-in-out; }
.expandDiv .marketAlertSidebar { width: 1200px; transition: all 0.3s ease-in-out; }
.expandDiv .expandHide, .expandRightTabs { display: none; }
.expandDiv .expandRightTabs { display: inline-block; }
.expandShow { display: none; }
.expandDiv .expandShow { display: inline-block; }
.p-sidebar-content .gridBlock .grid { display: block; }
.p-sidebar-content .gridBlock .grid > div:not(:last-child) { margin-bottom: 15px; }
.expandFullDiv { display: none; }
.expandFull .expandFullDiv { display: block; }
.expandFull .marketAlertsListpage { display: none; }
.expandFull .p-sidebar-visible { display: none !important; }
.expandFull .ExpandTitle { display: none; }
.expandFull .bothTitleHide { display: none; }
.ExpandHeader2 { display: none; }
.expandFull .ExpandHeader2 { display: block; }
.expandFull .ExpandHeader1 { display: none; }
.expandFull .expandProductImg { max-width: 80px; min-width: fit-content; }
.expandFull .expandProductImg img{ max-width: 80px; }
/* V.K style End */


/***********************************************
            Responsive
***********************************************/

@media (min-width:1800px) { 
    body { font-size: 0.729vw; }
    .boxShadow1 { box-shadow: 0px 0.052vw 0.104vw -0.052vw rgba(0, 0, 0, 0.10), 0px 0.052vw 0.156vw 0px rgba(0, 0, 0, 0.10); }
     /* V.K style */
    .productSearch .p-inputtext { border: 0.052vw solid #E4E7EC; border-radius: 0.625vw; padding: 1.042vw 2.75vw 1.042vw 3.229vw; min-width: 41.667vw; }
    .productSearch .p-input-icon-left > i { left: 1.563vw; }
    .productSearch .p-button { min-width: 5.938vw; }
    .productSearch .p-button-label { font-size: 1.042vw; }
    .productSearch i.asetsmng-microphone { right: 1.458vw; }
    .custTavbview.marketAlertTabs .react-tabs__tab-list .react-tabs__tab { border-radius: 0.417vw; padding: 0.521vw 0.625vw; }
    .custaccordion .p-accordion .p-accordion-header .p-accordion-header-link { padding: 1.042vw; font-size: 0.833vw; border-radius: 0.417vw; }
    .custaccordion .p-accordion .p-accordion-tab { margin-bottom: 0.417vw; }
    .custaccordion .p-datatable .p-datatable-tbody > tr > td { padding: 0.521vw 1.042vw; font-size: 0.729vw; }
    .custaccordion .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon { right: 1.042vw; }
    .custPriceDropdown .p-dropdown { min-width: 5.208vw; }
    .custPriceDropdown .p-dropdown .p-dropdown-label { font-size: 0.729vw; padding: 0.417vw 0.625vw; }
    .marketAlertSidebar { width: 41.667vw; }
    .expandDiv .marketAlertSidebar { width: 62.5vw; }
    /* V.K style End */
}

@media (max-width:1280px) { 
  .productSearch .p-inputtext { width: 100%; min-width: 600px; }
 }

@media (max-width:1024px) {  }

@media (max-width:991px) {
  .productSearch .p-inputtext { width: 100%; min-width: 450px; }
 }

@media (max-width:767px) {
  .productSearch .p-inputtext { width: 100%; min-width: 100%; }
  .marketAlertSidebar, .expandDiv .marketAlertSidebar { width: 100%; }
 }

@media (max-width:575px) {  }

