
/* calendar start */
.customCalendar .p-inputtext {
    padding: 10px 16px;
    font-size: 14px;
    background: #FFFFFF;
}

.customCalendar .p-button {
    padding: 10px 16px !important;
    font-size: 14px;
    color: #4B586E;
    background: #FFFFFF;
    border-left: none;
    border-right: 1px solid #DDE1EA;
    border-top: 1px solid #DDE1EA;
    border-bottom: 1px solid #DDE1EA;
}

.customCalendar .p-inputtext {
    border: 1px solid #DDE1EA;
    border-left: 1px solid #DDE1EA;
    border-right: none;
    border-top: 1px solid #DDE1EA;
    border-bottom: 1px solid #DDE1EA;
}

.customCalendar .p-inputtext:enabled:hover {
    border-color: #DDE1EA;
}

.customCalendar .p-button:enabled:hover,
.customCalendar .p-button:not(button):not(a):not(.p-disabled):hover {
    background: #FFFFFF;
    color: #4B586E;
    border-color: #DDE1EA;
}

.customCalendar .p-inputtext:enabled:focus {
    box-shadow: none !important;
    border-color: #DDE1EA;
}

.customCalendar .p-datepicker-trigger:before {
    font-family: 'assetsmanage' !important;
    content: "\e90c";
    font-size: 15px;
}

.customCalendar .p-datepicker-trigger svg {
   display: none;
}
  /* Toast */
  .p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon.p-icon{
    height: 1.20rem;
    width: 1.20rem;
}
.p-toast .p-toast-message .p-toast-message-content{
    background-color: #FFFFFF;
    color: #3A3E49;
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close{
    color: #84878D;
}

/* calendar end */

.custSimplebar .p-overlaypanel-content{
    padding: 0px;
}

.tileShow {
    box-shadow: 0px 4px 6px -1px #0000001A;
}

/* chart dropdown start */
.chartdropdown .p-inputtext {
    color: #37445E;
    font-weight: 300;
    font-size: 11px;
    padding: 8px 9px;
}
.chartdropdown .p-dropdown {
   background: #FFFFFF;
   border: 1px solid #E5E7EB;
   border-top: none;
   border-radius: 0px 0px 8px 8px;
}

.chartdropdown .p-dropdown .p-dropdown-trigger {
    width: 2rem;
    color: #9CA1AB;
}
/* chart dropdown end */

.custProgress .p-progressbar-label{
    display: none;
}
.custProgress.p-progressbar-determinate .p-progressbar-value{
    border-radius: 8px;
}

@media (min-width:1800) {  
.customCalendar .p-inputtext {
    padding: 0.521vw 0.833vw;
    font-size: 0.729vw;
}

.chartdropdown .p-inputtext {
    padding: 0.417vw 0.469vw;
    font-size: 0.573vw;
}

.customCalendar .p-button {
    padding: 0.521vw 0.833vw !important;
    font-size: 0.729vw;
}

.customCalendar .p-datepicker-trigger:before {
    font-size: 0.729vw;
}
}