/* calendar start */
.customCalendar .p-inputtext {
    padding: 10px 16px;
    font-size: 14px;
    background: #FFFFFF;
}

.customCalendar .p-button {
    padding: 10px 16px !important;
    font-size: 14px;
    color: #4B586E;
    background: #FFFFFF;
    border-left: none;
    border-right: 1px solid #DDE1EA;
    border-top: 1px solid #DDE1EA;
    border-bottom: 1px solid #DDE1EA;
}

.customCalendar .p-inputtext {
    border: 1px solid #DDE1EA;
    border-left: 1px solid #DDE1EA;
    border-right: none;
    border-top: 1px solid #DDE1EA;
    border-bottom: 1px solid #DDE1EA;
}

.customCalendar .p-inputtext:enabled:hover {
    border-color: #DDE1EA;
}

.customCalendar .p-button:enabled:hover,
.customCalendar .p-button:not(button):not(a):not(.p-disabled):hover {
    background: #FFFFFF;
    color: #4B586E;
    border-color: #DDE1EA;
}

.customCalendar .p-inputtext:enabled:focus {
    box-shadow: none !important;
    border-color: #DDE1EA;
}

.customCalendar .p-datepicker-trigger:before {
    font-family: 'assetsmanage' !important;
    content: "\e90c";
    font-size: 15px;
}

.customCalendar .p-datepicker-trigger svg {
    display: none;
}

/* Toast */
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon.p-icon {
    height: 1.20rem;
    width: 1.20rem;
}

.p-toast .p-toast-message .p-toast-message-content {
    background-color: #FFFFFF;
    color: #3A3E49;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
    color: #84878D;
}

/* calendar end */

.custSimplebar .p-overlaypanel-content {
    padding: 0px;
}

.tileShow {
    box-shadow: 0px 4px 6px -1px #0000001A;
}

/* chart dropdown start */
.chartdropdown .p-inputtext {
    color: #37445E;
    font-weight: 300;
    font-size: 11px;
    padding: 8px 9px;
}

.chartdropdown .p-dropdown {
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
}

.chartdropdown .p-dropdown .p-dropdown-trigger {
    width: 2rem;
    color: #9CA1AB;
}

/* chart dropdown end */

.custProgress .p-progressbar-label {
    display: none;
}

.custProgress.p-progressbar-determinate .p-progressbar-value {
    border-radius: 8px;
}


/* custom search start */
.comparisionSearch .p-inputtext {
    padding: 12px 16px;
    font-size: 14px;
    background: #FAFAFA;
    border: 1px solid #D3D3CE;
    border-radius: 8px;
}

.comparisionSearch .p-inputtext:enabled:hover {
    border-color: #D3D3CE;
}

.comparisionSearch .p-inputtext:enabled:focus {
    box-shadow: none;
    border-color: #D3D3CE;
}

.comparisionSearch .p-input-icon-left>.p-inputtext {
    padding-left: 2.5rem;
}

/* custom search end */


/* check box custom start */
.custumCheckbox.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #4169E1;
    background: #4169E1;
}

.custumCheckbox.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #4169E1;
    background: #4169E1;
}

.custumCheckbox.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    border-color: #4169E1;
    box-shadow: none;
}

.custumCheckbox.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #4169E1;
}

.custumCheckbox.p-checkbox .p-checkbox-box {
    width: 16px;
    height: 16px;
    color: #4169E1;
    border-radius: 4px;
}

.custumCheckbox.p-checkbox {
    width: 16px;
    height: 16px;
}

.custumCheckbox.p-checkbox .p-checkbox-box .p-checkbox-icon {
    font-size: 9px;
}

/* check box custom end */

/* cust table start */
.custCompareTable thead tr th {
    font-size: 14px;
    color: #3A3E49;
    font-weight: 600;
}

.custCompareTable tbody tr td {
    text-align: left;
    padding: 12px 20px;
    color: #3A3E49;
    border-bottom: 1px solid #E4E7EC;
}

.custCompareTable tr div {
    font-size: 14px;
    color: #3A3E49;
}

.custCompareTable tr:nth-child(even) {
    background-color: #F9F9FC;
}

.custCompareTable tr:nth-child(odd) {
    background-color: #fff;
}


/* cust table end */

@media (min-width:1800) {
    .customCalendar .p-inputtext {
        padding: 0.521vw 0.833vw;
        font-size: 0.729vw;
    }

    .chartdropdown .p-inputtext {
        padding: 0.417vw 0.469vw;
        font-size: 0.573vw;
    }

    .customCalendar .p-button {
        padding: 0.521vw 0.833vw !important;
        font-size: 0.729vw;
    }

    .customCalendar .p-datepicker-trigger:before {
        font-size: 0.729vw;
    }

    .comparisionSearch .p-inputtext {
        padding: 0.625vw 0.833vw;
        font-size: 0.729vw;
    }

    .custumCheckbox.p-checkbox .p-checkbox-box {
        width: 0.833vw;
        height: 0.833vw;
    }

    .custumCheckbox.p-checkbox {
        width: 0.833vw;
        height: 0.833vw;
    }

}