.custdropdown.p-dropdown {
    background: #FAFAFA;
    border: 1px solid #D3D3CE;
}


.custinput.p-inputtext {
    font-size: 14px;
}



.custdropdown.p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
}

.custdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    color: #6b7280;
}

.custdropdown.p-dropdown .p-dropdown-trigger {
    color: #84878D;
}

.custdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    color: #20232E;
}