.custdropdown.p-dropdown {
    background: #FAFAFA;
    border: 1px solid #D3D3CE;
}


.custinput.p-inputtext {
    font-size: 14px;
}



.custdropdown.p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
}

.custdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    color: #6b7280;
}

.custdropdown.p-dropdown .p-dropdown-trigger {
    color: #84878D;
}

.custdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    color: #20232E;
}

.custfooter.p-datatable .p-datatable-tfoot > tr > td {
    text-align: left;
    padding: 8px 20px;
    border: 1px solid #E4E7EC;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #20232E;
    background: #F9F9FC;
}

.custfooter.p-component {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 14px;
    font-weight: normal;
}
