

  .auditpoups .p-sidebar-content{
    padding: 0rem !important;
  }
  
  
.successfully{
    width: 28.646vw !important;
    /* height:56.25vw */
  }
  .successfully .p-sidebar-close{
    display: none;
  }
  .successfully .p-sidebar-header{
    display: none;
  }
  .successfully .p-sidebar-content{
    padding: 0rem !important;
  }


  .custInputbox .p-inputtext {
    color: #6C768B;
    background: #F6F7F9;
    border: 1px solid #DDE1EA;
    font-size: 14px;
    padding: 12px 12px;
    border-radius: 8px;
}

.custDropdownbox .p-inputtext {
    color: #6C768B;
    background: #F6F7F9;
    border-radius: 8px 0px 0px 8px !important;
    border: none !important;
    font-size: 14px;
    padding: 12px 12px;
}

.dark .custDropdownbox .p-inputtext {
    color: #B3B9C6;
    background: #0F1013;
}

.custInputbox .p-inputtext:enabled:focus {
    box-shadow: none;
    border-color: #1570EF;
}

.custInputbox .p-inputtext:enabled:hover {
    border-color: #1570EF;
}


.custDropdown{
	line-height: 1;
}
.custDropdown .p-dropdown{
	vertical-align: top;
	align-items: center;
}
.custDropdown .pi{
	line-height: 12px;
}
.custDropdownbox .p-dropdown:not(.p-disabled):hover {
    border-color: #1570EF;
}

.custDropdownbox .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: #1570EF;
}

.dark .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: #FFFFFF
}

.dark .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #FFFFFF;
    background: #191A1E;
}

.dark .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: #FFFFFF;
    background: #363a44;
}

.dark .custDropdownbox .p-dropdown:not(.p-disabled):hover {
    border-color: #202227;
}

.dark .custDropdownbox .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: #202227;
}

.custDropdownbox .pi {
    font-size: 10px;
}

.custDropdownbox .p-dropdown .p-dropdown-label.p-placeholder {
    color: #6C768B;
}

.custDropdownbox .p-dropdown .p-dropdown-label {
    background: #F6F7F9;
}
.dark .custDropdownbox .p-dropdown .p-dropdown-label {
    background: #0B0B0E;
}

.custDropdownbox .p-dropdown .p-dropdown-trigger {
    background: #F6F7F9;
}
.dark .custDropdownbox .p-dropdown .p-dropdown-trigger {
    background: #0B0B0E;
}

.dark .custDropdownbox .p-dropdown {
    background: #0F1013;
}
.dark .custDropdownbox .p-dropdown {
    border: 1px solid #202227;
}


.custDropdownWhite .p-dropdown .p-dropdown-label {
    background: #FFFFFF;
}

.dark .custDropdownWhite .p-dropdown .p-dropdown-label {
    background: #0F1013;
}

.dark .p-dropdown-panel .p-dropdown-items {
    background: #191A1E;
}

.custDropdownWhite .p-dropdown .p-dropdown-trigger {
    background: #FFFFFF;
}

.dark .custDropdownWhite .p-dropdown {
    border: 1px solid #202227;
}

.dark .custDropdownWhite .p-dropdown {
    background: #0F1013;
}

.dark .custDropdownWhite .p-dropdown .p-dropdown-trigger {
    background: #0F1013;
}