/* AssetPopup CSS  Start*/


.header{
    
    min-height:5vw ;
    background-color: #F9F9FC;
}


.assetspoups .p-sidebar-content{
padding: 0px !important;

}

.assetspoups .p-sidebar-header{
background-color:#F9F9FC !important;
border-radius: 30px !important;
padding: 0.25rem !important;

}

.assetspoups button,.assetspoups [type='button'],.assetspoups [type='reset'],.assetspoups [type='submit']{
    display: none !important;
}
.parent-div:hover > .child-div:first-child {
    color: #4169E1; 
  }


@media screen and (min-width:220px) and (max-width:768px) {
   .assetspoups{
    width: 90% !important;
   } 
    
}
/* AssetPopup CSS  End */













