/* snehal inventory audit style */


.rotated-icon {
    transform: rotate(90deg); 
  }
  .rotated-icon-expot{
    transform: rotate(270deg); 
  }
  
  
  .sidebarwidth{
  width: 800px;
  }
  
  .sidebarwidth .p-sidebar-close{
    display: none;
  }
  .sidebarwidth .p-sidebar-header{
    display: none;
  }
  
  

  .custInputBox .p-inputtext {
    color: #888888;
    background: #FFFFFF;
    border: 1px solid #DDE1EA;
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 8px;
}

.custDropdownBox .p-inputtext {
    border-radius: 8px 0px 0px 8px !important;
    border: none !important;
    font-size: 14px;
    padding: 10px 16px;
}

.custDropdownBox .p-dropdown {
    color: #888888;
    background: #FFFFFF;
    border: 1px solid #EAE0E0;
}

.custInputBox .p-inputtext:enabled:focus {
    box-shadow: none;
    border-color: #4169E1;
}

.custInputBox .p-inputtext:enabled:hover {
    border-color: #4169E1;
}

/* / custInputBox start / */

/* / custDropdownBox start / */
.custDropdown{
	line-height: 1;
}
.custDropdown .p-dropdown{
	vertical-align: top;
	align-items: center;
}
.custDropdownBox .p-dropdown:not(.p-disabled):hover {
    border-color: #4169E1;
}

.custDropdownBox .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: #4169E1;
}

.custDropdownBox .p-dropdown-trigger svg {
    width: 13px;
    height: 13px;
}

.custDropdownBox .p-dropdown .p-dropdown-label.p-placeholder {
    color: #6C768B;
}

.custDropdownBox .p-dropdown .p-dropdown-label {
    background: #FFFFFF;
}

.custDropdownBox .p-dropdown .p-dropdown-trigger {
    background: #FFFFFF;
}

/* / drop down white  / */
.custDropdownWhite .p-dropdown .p-dropdown-label {
    background: #FFFFFF;
}

.custDropdownWhite .p-dropdown .p-dropdown-trigger {
    background: #FFFFFF;
}

/* / custDropdownBox start / */
  
  /* snehal inventory audit style End*/

  /* snehal inventory audit style */
.custm-search .p-inputtext {
    border-radius: 8px;
    padding-left: 30px;
}

.custm-search i {
    margin-top: -0.4rem;
}
.custm-search .p-inputtext {
    border-radius: 0.521vw;
    padding-left: 2.208vw;
    font-size: 12px;
}

.rotated-icon {
    transform: rotate(90deg); 
  }
  .rotated-icon-expot{
    transform: rotate(270deg); 
  }

  @media (min-width:1800px) {  
    .custDropdownBox .p-dropdown-trigger svg {
        width: 0.677vw;
        height: 0.677vw;
    }
    .custInputBox .p-inputtext {
        font-size: 0.729vw;
        padding: 0.521vw 0.833vw;
    }
    
    .custDropdownBox .p-inputtext {
        font-size: 0.729vw;
        padding: 0.521vw 0.833vw;
    }

  }

/* snehal inventory audit style End*/