/* snehal inventory audit style */


.rotated-icon {
    transform: rotate(90deg); 
  }
  .rotated-icon-expot{
    transform: rotate(270deg); 
  }
  
  .p-datatable .p-datatable-thead > tr > th{
    background-color: #DFE7FA
    ;
  }
  .sidebarwidth{
  width: 800px;
  }
  
  .sidebarwidth .p-sidebar-close{
    display: none;
  }
  .sidebarwidth .p-sidebar-header{
    display: none;
  }
  
  

  .custInputBox .p-inputtext {
    color: #6C768B;
    background: #F6F7F9;
    border: 1px solid #DDE1EA;
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 8px;
}

.custDropdownBox .p-inputtext {
    color: #6C768B;
    background: #F6F7F9;
    border-radius: 8px 0px 0px 8px !important;
    border: none !important;
    font-size: 14px;
    padding: 10px 16px;
}

.dark .custDropdownBox .p-inputtext {
    color: #B3B9C6;
    background: #0F1013;
}

.custInputBox .p-inputtext:enabled:focus {
    box-shadow: none;
    border-color: #4FB155;
}

.custInputBox .p-inputtext:enabled:hover {
    border-color: #4FB155;
}

/* / custInputBox start / */

/* / custDropdownBox start / */
.custDropdown{
	line-height: 1;
}
.custDropdown .p-dropdown{
	vertical-align: top;
	align-items: center;
}
.custDropdown .pi{
	line-height: 12px;
}
.custDropdownBox .p-dropdown:not(.p-disabled):hover {
    border-color: #4FB155;
}

.custDropdownBox .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: #4FB155;
}

.dark .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: #FFFFFF
}

.dark .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #FFFFFF;
    background: #191A1E;
}

.dark .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: #FFFFFF;
    background: #363a44;
}

.dark .custDropdownBox .p-dropdown:not(.p-disabled):hover {
    border-color: #202227;
}

.dark .custDropdownBox .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: #202227;
}

.custDropdownBox .pi {
    font-size: 10px;
}

.custDropdownBox .p-dropdown .p-dropdown-label.p-placeholder {
    color: #6C768B;
}

.custDropdownBox .p-dropdown .p-dropdown-label {
    background: #F6F7F9;
}
.dark .custDropdownBox .p-dropdown .p-dropdown-label {
    background: #0B0B0E;
}

.custDropdownBox .p-dropdown .p-dropdown-trigger {
    background: #F6F7F9;
}
.dark .custDropdownBox .p-dropdown .p-dropdown-trigger {
    background: #0B0B0E;
}

.dark .custDropdownBox .p-dropdown {
    background: #0F1013;
}
.dark .custDropdownBox .p-dropdown {
    border: 1px solid #202227;
}

/* / drop down white  / */
.custDropdownWhite .p-dropdown .p-dropdown-label {
    background: #FFFFFF;
}

.dark .custDropdownWhite .p-dropdown .p-dropdown-label {
    background: #0F1013;
}

.dark .p-dropdown-panel .p-dropdown-items {
    background: #191A1E;
}

.custDropdownWhite .p-dropdown .p-dropdown-trigger {
    background: #FFFFFF;
}

.dark .custDropdownWhite .p-dropdown {
    border: 1px solid #202227;
}

.dark .custDropdownWhite .p-dropdown {
    background: #0F1013;
}

.dark .custDropdownWhite .p-dropdown .p-dropdown-trigger {
    background: #0F1013;
}

/* / custDropdownBox start / */
  
  /* snehal inventory audit style End*/

  /* snehal inventory audit style */
.custm-search .p-inputtext {
    border-radius: 8px;
    padding-left: 30px;
}

.custm-search i {
    margin-top: -0.4rem;
}
.custm-search .p-inputtext {
    border-radius: 0.521vw;
    padding-left: 2.208vw;
    font-size: 12px;
}

.rotated-icon {
    transform: rotate(90deg); 
  }
  .rotated-icon-expot{
    transform: rotate(270deg); 
  }

/* snehal inventory audit style End*/