.custTavbview .react-tabs__tab-list {
    display: flex;
    align-items: center;
    gap: 8px;
}
.custTavbview .react-tabs__tab-list .react-tabs__tab {
    border-radius: var(--border-radius-rounded-full, 9999px);
    border: 1px solid var(--stroke-soft, #E4E7EC);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    padding: 6px 10px;
}

.custTavbview .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {background: #1570EF;color: #FFFFFF;border-color: #1570EF;}

/*******Executive Detailed Table Custm Tabs***********/
.executiveCustTavbview .react-tabs__tab-list {
    display: flex;
    align-items: center;
    gap: 8px;
}
.executiveCustTavbview .react-tabs__tab-list .react-tabs__tab {
    border-radius: 6px;
    border: 1px solid var(--stroke-soft, #E4E7EC);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    padding: 6px 10px;
}

.executiveCustTavbview .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {background: #1570EF;color: #FFFFFF;border-color: #1570EF;}
/*******Executive Detailed Table Custm Tabs***********/

/*******Executive Detailed Inner Table Custm Tabs***********/
.executiveTableInnerTab .react-tabs__tab-list {
    display: flex;
    align-items: center;
    gap: 0;
}
.executiveTableInnerTab .react-tabs__tab-list .react-tabs__tab {
    border-bottom: 1px solid var(--stroke-soft, #E5E7EB) !important;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 0;
    border: 0;
}

.executiveTableInnerTab .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {background: #FFF;color: #1570EF; border-bottom: 2px solid var(--stroke-soft, #1570EF) !important;}
/*******Executive Detailed Inner Table Custm Tabs***********/

.custInputsearch .p-inputtext {
    width: 300px;
    height: 40px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
    border-radius: var(--rounded-full, 9999px);
    border: 1px solid var(--stroke-default, #D3D3CE);
    background: var(--surface-component, #FFF);
}
.custm-tdsearch .p-inputtext {
    border: 1px solid var(--stroke-default, #D3D3CE);
    background: var(--surface-component, #FFF);
    font-weight: 400;
    padding-left: 42px;
    padding-right: 38px;
    padding-top: 0;
    padding-bottom: 0;
}

/* Data Table start */
.custTable .p-datatable-tbody .p-checkbox.p-component {
    width: 16px;
    height: 16px;
}
.custTable .p-datatable-tbody .p-checkbox.p-component {
    width: 16px;
    height: 16px;
}
.custTable .p-datatable-tbody .p-checkbox .p-checkbox-box {
    border: 1px solid #E4E7EC;
    background: #ffffff;
    width: 16px !important;
    height: 16px !important;
    color: #495057;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.custTable .p-datatable-tbody .p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: #ffffff;
    font-size: 8px;
}
/* .custCheckBox */
.custCheckBox .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #66B36A ;
    background: #0E2511 ;
}
.custCheckBox .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #66B36A;
    background: #0E2511;
    color: #ffffff;
}
.custCheckBox .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #66B36A !important;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: none;
    border-color: #000000;
}
.custCheckBox .p-dropdown:not(.p-disabled):hover {
    border-color: #66B36A !important;
}
.custCheckColor .p-checkbox .p-checkbox-box {
    background: #F5F6F8;
}
.custTable.p-datatable .p-datatable-thead>tr>th .p-column-filter-menu-button {
    width: 16px;
    height: 16px;
    border-radius: 0;
}
.custTable.p-datatable .p-datatable-thead>tr>th .p-column-filter-menu-button::after {
    content: '\e930';
    font-family: 'assetsmanage' !important;
    display: block;
    font-size: 13px;
}
.custTable.p-datatable .p-sortable-column .p-column-title,.custTable .p-datatable .p-sortable-column .p-sortable-column-icon, .p-datatable .p-sortable-column .p-sortable-column-badge{
    font-weight: 500;
}
.custTable.p-datatable .p-datatable-thead > tr > th{
    font-weight: 500;
}
.custTable.p-datatable .p-datatable-tbody>tr>td {
    color: #424242;
    font-size: 12px;
    font-weight: 400;
    padding: 8px 14px;
    border-bottom: 1px solid #F2EEEE;
}
.custTable.p-datatable.p-datatable-selectable .p-datatable-tbody > tr.p-selectable-row:not(.p-highlight):not(.p-datatable-emptymessage):hover {
    background: #F9F9FC;
    color: #3A3E49;
}
.custTable.p-datatable .pi-filter-icon.pi-filter, .custTable.p-datatable .p-sortable-column-icon.pi-sort-alt {
    color: #424242;    
    font-size: 12px;
    font-weight: 500;
}
.custTable.p-datatable .p-sortable-column-icon {
    width: 10px;
    height: 10px;
}
.custTable.p-datatable .p-datatable-tbody>tr:nth-child(even) {
    background: #F9F9FC;
}
.custTable.p-datatable .p-datatable-thead>tr>th {
    border-bottom: 1px solid #E4E7EC;
    background: #DFE7FA;
    color: #3A3E49;
    font-weight: 500;
    font-size: 12px;
    padding: 8px 14px;
}

.custmfrozem {
    box-shadow: -10px 2px 7px 0px #0000001a;
    display: block;
}

.custmfrozem-subhead {
    box-shadow: -10px 2px 7px 0px #0000001a;
}

.custTable.p-datatable .p-datatable-thead>tr>th.custmheading {
    background: #6D7C9F;
    color: #fff;
    border-color: #6D7C9F;
}
.custTable.p-datatable .p-datatable-thead>tr>th.centercustmheading {
    background:#C7D4F1;
    border-color: #C7D4F1;
}
.cusmtb_right_br {
    border-right: 1px solid #ddd;
}
.custTable.p-datatable .p-datatable-thead>tr>th.subheadigncustm {
    background: #768FB5 ;
    color: #fff;
}
.custTable.p-datatable .p-datatable-thead>tr>th.subheadigncustm .p-column-header-content svg {
    color: #fff ;
    border-color: #E4E7EC;
}
.custTable.p-datatable .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
    background: #DFE7FA;
    color: #3A3E49;
}
.custTable.p-datatable .p-column-header-content {
    width: 100%;
    position: relative;
}
.action-shadow-table {
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}
.custTable .p-datatable-tbody .p-checkbox .p-checkbox-box .p-checkbox-icon{
    width: 10px;
    height: 10px;
    color: #495057;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.custTable .p-datatable-tbody .p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: #ffffff;
    font-size: 8px;
}
.custTable .p-checkbox.p-component {
    width: 16px;
    height: 16px;
}
.custTable .p-datatable-thead .p-checkbox .p-checkbox-box {
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    width: 16px;
    height: 16px;
}
.custTable .p-datatable-thead .p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: #ffffff;
    font-size: 8px;
    width: 10px;
}
.tableCust .p-paginator {
    justify-content: end;
    border: 0;
    padding: 0;
    padding-top: 16px;
}
.tableCust .p-paginator .p-paginator-first, .tableCust .p-paginator .p-paginator-prev, .tableCust .p-paginator .p-paginator-next, .tableCust .p-paginator .p-paginator-last, .tableCust .p-paginator .p-paginator-pages .p-paginator-page {
    border: 1px solid #D3D3CE;
    border-radius: 0;
    width: 31px;
    height: 33px;
    margin: 0;
    min-width: inherit;    
    font-size: 14px;
}
.tableCust .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    border: 1px solid #D3D3CE;
    background-color: #F6F6F5;
    color: #3A3E49;
    font-weight: 500;
}
.tableCust .p-link:focus {
    box-shadow: none;
}
.tableCust .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover, .tableCust .p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover, .tableCust .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover, .tableCust .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover, .tableCust .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
    background-color: #FCF5F6;
    border-color: #D3D3CE;
}
.tableCust .p-paginator .p-paginator-prev {
    border-radius: 4px 0 0 4px;
    width: 82px;
}
.tableCust .p-paginator .p-paginator-next {
    border-radius: 0 4px 4px 0;
    width: 56px;
}

.tableCust .p-paginator .p-paginator-prev::after {
    content: 'Preview';
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #84878D;
}
.tableCust .p-paginator .p-paginator-next::before {
    content: 'Next';
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #84878D;
}
.custTable.p-datatable .p-datatable-thead>tr>th .p-column-filter-menu-button .p-icon {
    display: none;
}
.tableCust .p-paginator .p-paginator-prev svg, .tableCust .p-paginator .p-paginator-next svg {
    display: none;
}
.tableCust .pi-angle-left:before{
    font-family: 'Inter', sans-serif !important;
    content: "Previous" !important;
    font-size: 16px;
}
.tableCust .pi-angle-right:before {
    font-family: 'Inter', sans-serif !important;
    content: "Next" !important;
    font-size: 16px;
}
.tableCust .p-paginator-pages button {
    font-size: 16px;
}
.custTable.p-datatable .p-paginator-bottom{
    border: 0;
    border-top: 1px solid #F2EEEE;
    border-radius: 0 0 12px 12px;
    padding: 16px;
}
.custTable.p-datatable .p-paginator-current{
    position: absolute;
    left: 0;
    color: #888888;
    font-weight: 400;
    font-size: 16px;
}
.custTable .p-paginator .p-dropdown{
   /* position: absolute;
    left: 200px;
    */
    margin-right: 1rem;
}
.custTable .p-dropdown .p-dropdown-trigger {
    width: 2rem;
}
.custTable .p-paginator .p-dropdown {
    height: 40px;
    position: absolute;
    left: 212px;
    border: 1px solid #EAE0E0;
}
.custTable .p-inputtext {
    display: flex;
    align-items: center;
    justify-content: center;
}
.custTable .p-dropdown .p-dropdown-label {
    background: #FFF;
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    justify-content: flex-start;
}
.custTable .p-dropdown .p-dropdown-trigger{
    background: #FFF;
    color: #888888;
}
.custmdropdown .p-dropdown .p-dropdown-label {
    background: #FFF;
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}
.custmdropdown .p-dropdown .p-dropdown-trigger{
    background: #FFF;
    color: #888888;
}
.custmdropdown .p-dropdown .p-dropdown-label::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #F4EDED;
    border-radius: 100%;
}
.p-column-filter-overlay {
    width: 160px !important;
}
.p-column-filter-constraint {
    padding: 0 !important;
}
.p-column-filter-buttonbar {
    display: none !important;
    padding: 0!important;
}
.p-datatable .p-sortable-column:focus {
    box-shadow: inset 0 0 0 0rem #C7D2FE !important;
    outline: 0 none !important;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
    background: #FFF;
    color: #3A3E49;
}
.dark .p-datatable .p-datatable-tbody > tr.p-highlight {
    background: #13161B;
    color: #495057;
}
  
.custTable.p-datatable .p-tag.p-tag-success, .custTable.p-datatable .p-tag.p-tag-warning {
    border-radius: var(--border-radius-rounded-2xl, 6px);
    font-size: 12px;
    font-weight: 500;
    padding: 2px 10px;
}
.custTable.p-datatable .p-tag.p-tag-success {
    background: var(--brand-highlight-50, #D1FAE4);
    color: #075E43;
}
.custTable.p-datatable .p-tag.p-tag-warning {
    border: 1px solid var(--interface-feedback-neutral-400, #E3A008);
    background: #FFFCE1;
    color: #E3A008;
}
.custTable.p-datatable .pi-filter:before {
    font-family: 'assetsmanage' !important;
    content: "\e92f";
}
.custm-td-filterserach .p-inputtext {
    border-radius: 8px;
    border: var(--spacing-0, 1px) solid var(--interface-stroke-default, #BECDE3);
    background: var(--brand-neutral-50, #F5F6F8);
    padding-left: 35px;
    font-size: 14px;
}
/* Data table end */

/* Custm Tree table end */
.custTable.p-treetable .p-treetable-thead tr th {
    padding: 12px 20px;
    border-bottom: 1px solid var(--stroke-soft, #E4E7EC);
    background: var(--colors-primary-100, #DFE7FA);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px 
}
.custTable.p-treetable .p-treetable-thead tr th .p-column-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custTable.p-treetable .p-treetable-tbody > tr > td {
    padding: 12px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.custTable.p-treetable .p-treetable-tbody > tr:nth-child(even) {
    border-bottom: 1px solid var(--stroke-soft, #E4E7EC);
background: var(--surface-page, #F9F9FC);
}

.custTable.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler {
    margin-right: 0;
    margin-left: 0 !important;
    height: auto;
    width: 24px;
}
.custTable.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler::after {
    font-family: 'assetsmanage' !important;
    content: "\e928";
    font-size: 12px;
    color: #9CA1AB;
}
.custTable.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler svg {
    display: none;
}
.custTable.p-treetable .p-paginator-bottom {
    padding: 16px 20px;
    border-radius: var(--border-radius-rounded-lg, 8px);
}
.custTable.p-treetable .p-paginator-bottom .p-paginator-current {
    position: absolute;
    left: 10px;
}
.custTable.p-treetable .p-treetable-thead tr th .p-column-header-content .p-icon {
    width: 12px;
    height: 12px;
}
/* Custm Tree table end */

.custTable.tableCust.p-datatable.p-datatable-grouped-footer .p-datatable-tfoot > tr > td {
    color: #20232E;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}


.boxshadow01 {box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);}
.cutsm_checkbox {
    width: 16px;
    height: 16px;
}
.cutsm_checkbox.p-checkbox .p-checkbox-box {
    border: 0.5px solid #BECDE3;
    background: #F5F6F8;
    width: 16px;
    height: 16px;
    color: #495057;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.cutsm_checkbox.p-checkbox-checked .p-checkbox-box.p-highlight {
    border-color: #66B36A;
    background: #0E2511;
    color: #ffffff;
}
.cutsm_checkbox.p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: #ffffff;
    font-size: 8px;
    width: 8px;
}
.custm-search i {
    margin-top: -0.4rem;
}
.custm-search .p-inputtext {
    border-radius: 10px;
    padding-left: 40px;
    font-size: 12px;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.width1600.p-sidebar {
    width: 81%;
    border-radius: var(--border-radius-rounded-2xl, 16px) var(--spacing-0, 0px) var(--spacing-0, 0px) var(--border-radius-rounded-2xl, 16px);
    border: 1px solid var(--stroke-soft, #E4E7EC);
    background: var(--surface-component, #FFF);
}

.custmSidebar.p-sidebar .p-sidebar-content {
    padding: 0 !important;
}

.custmSidebar.p-sidebar .p-sidebar-header {
    padding: 0 !important;
}

.custmSidebar.p-sidebar-mask {
    background-color: #ffffffbd !important;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
    /* color: #6c768b; */
    border-color: transparent !important;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close:focus,
.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icon:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0rem transparent !important;
}

.custmSidebar.p-sidebar.p-component.kpisidebar {
    width: 40vw;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.kpisidebar.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
    /* color: #6c768b; */
    border-color: transparent !important;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close:focus,
.kpisidebar.p-sidebar .p-sidebar-header .p-sidebar-icon:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0rem transparent !important;
}
.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icons .p-sidebar-close {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 86px;
    height: 76px;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-rounded-2xl, 16px);
    background: var(--colors-primary-pure, #4169E1);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.10);
}
.custmSidebar.p-sidebar .p-sidebar-header {
    position: absolute;
    left: -110px;
    top: 45%;
    bottom: 45%;
}
.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icons .p-sidebar-close::before {
    font-family: 'assetsmanage' !important;
    content: '\e90e';
    font-size: 24px;
    display: block;
    line-height: 24px;
    color: white;
}
.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icons .p-sidebar-close::after {
    content: 'close';
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px; 
}
.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icons .p-sidebar-close svg {
    display: none;
}

.vertical-shadow {
    background: url("/assets/images/vertical-shadow.svg") no-repeat;
    width: 225px;
    height: 100%;
}

/* Shadows/shadow-lg */
.shadow-lg{box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);}
/* Shadows/shadow-md */
.shadow-md{box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);}
.vertical-slider-container .slick-slider.slick-vertical.slick-initialized {
    height: 100% !important;
}
.vertical-slider-container .slick-slider.slick-vertical.slick-initialized .slick-list {
    height: 100% !important;
}
.vertical-slider-container .slick-slider.slick-vertical.slick-initialized .slick-prev:before {
    font-family: 'assetsmanage' !important;
    content: '\e908' !important;
    color: #333330 !important;
    font-size: 10px !important;
}

.vertical-slider-container .slick-slider.slick-vertical.slick-initialized .slick-arrow.slick-prev {
    background: var(--colors-primary-50, #F1F4FD);
    color: #333330;
    width: 100%;
    height: 24px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    left: 0;
}

.vertical-slider-container .slick-slider.slick-vertical.slick-initialized .slick-next:before {
    font-family: 'assetsmanage' !important;
    content: '\e939' !important;
    color: #333330 !important;
    font-size: 10px !important;
}

.vertical-slider-container .slick-slider.slick-vertical.slick-initialized .slick-arrow.slick-next {
    background: var(--colors-primary-50, #F1F4FD);
    color: #333330;
    width: 100%;
    height: 24px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 8px 8px;
    left: 0;
    top: 100% !important;
}

.time_location_btn:hover span {
    color: #fff;
}
.time_location_btn:hover {
    border-radius: 0px var(--border-radius-rounded, 4px) var(--border-radius-rounded, 4px) 0px;
    background: linear-gradient(60deg, #3044C5 13.4%, #4983F2 86.6%);
    width: 109px;
}
.activelocation {
    border-radius: 0px var(--border-radius-rounded, 4px) var(--border-radius-rounded, 4px) 0px;
    background: linear-gradient(60deg, #3044C5 13.4%, #4983F2 86.6%);
    width: 109px;
}

.activelocation span {
    color:#fff;
}

.map-view-marker {
    position: absolute;
    top: 30%;
    left: 50%;
}

.map-view-marker-2 {
    position: absolute;
    top: 40%;
    left: 60%;
}
.map_location_view {
    display: none;
}

.map_location_view.map-view-marker-2, .map_location_view.map-view-marker  {
    display: block;
}


.custmCalendar.p-calendar .p-inputtext {
    padding: 0;
    background: none;
    border: 0;
    color: #3A3E49;
    font-size: 12px;
}

.ripple-container {
    outline-width: 0;
    outline-color: #C5D5F8;
    outline-style: solid;
    animation: ripple 1s linear infinite;
}
@keyframes ripple {
    to {
      transform: scale(1);
      outline-width: 8px;
    }
}
.custDropdownBox.dropdown_bg01 .p-dropdown {
    border-color: #D3D3CE;
}
.custDropdownBox.dropdown_bg01 .p-dropdown .p-dropdown-label.p-placeholder {
    color: #20232E;
}

.custDropdownBox.dropdown_bg01 .p-dropdown .p-dropdown-label, .custDropdownBox.dropdown_bg01 .p-dropdown .p-dropdown-trigger {
    background: #FAFAFA;
}
.custDropdownBox.dropdown_bg01 .p-dropdown:not(.p-disabled):hover, .custDropdownBox.dropdown_bg01 .p-dropdown:not(.p-disabled).p-focus {
    border-color: #D3D3CE;
}

.blue_active_btn {
    background: #4169E1 !important;
    color: #ffffff !important; 
    border-color:#4169E1 !important;
}
.heading-custm {
    background-color: #000000;
}
.last_position {
    position: sticky;
    right: 0;
}
.center_position {
    position: sticky;
    right: 368px;
}
.first_position {
    position: sticky;
    right: 736px;
}

.draw-border { box-shadow: inset 0 0 0 0.104vw rgb(255 255 255 / 39%); color: white; transition: color 0.30s 0.0833333333s; position: relative; }
.draw-border::before, .draw-border::after { border: 0 solid transparent; box-sizing: border-box; content: ""; pointer-events: none; position: absolute; width: 0; height: 0; bottom: 0; right: 0; }
.draw-border::before { border-bottom-width: 0.208vw; border-left-width: 0.208vw; }
.draw-border::after { border-top-width: 0.208vw; border-right-width: 0.208vw; }
.draw-border:hover { color:  #b61010; }
.draw-border:hover::before, .draw-border:hover::after { border-color: #b61010; transition: border-color 0s, width 0.30s, height 0.30s; width: 100%; height: 100%; }
.draw-border:hover::before { transition-delay: 0s, 0s, 0.30s; }
.draw-border:hover::after { transition-delay: 0s, 0.30s, 0s; }
/***********************************************
            Responsive
***********************************************/
@media only screen and (min-width: 1800px) {
    .last_position {
        position: sticky;
        right: 0;
    }
    .center_position {
        position: sticky;
        right: 19.01vw;
    }
    .first_position {
        position: sticky;
        right: 38.143vw;
    }
    /* Custm Tree table end */
    .custTable.tableCust.p-datatable.p-datatable-grouped-footer .p-datatable-tfoot > tr > td {
        font-size: 0.729vw;
        line-height: 0.938vw;
    }
    .custTable.p-treetable .p-treetable-thead tr th .p-column-header-content .p-icon {
        width: 0.625vw;
        height: 0.625vw;
    }
.custTable.p-treetable .p-treetable-thead tr th {
    padding: 0.625vw 1.042vw;
    font-size: 0.625vw;
    line-height: 0.938vw; 

}
.custTable.p-treetable .p-treetable-tbody > tr > td {
    padding: 0.625vw;
    font-size: 0.625vw;
    font-weight: 400;
    line-height: 1.042vw;
}

.custTable.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler {
    width: 1.25vw;
}
.custTable.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler::after {
    font-size: 0.625vw;

}
.custTable.p-treetable .p-paginator-bottom {
    padding: 0.833vw 1.042vw;
    border-radius: var(--border-radius-rounded-lg, 8px);
}
.custTable.p-treetable .p-paginator-bottom .p-paginator-current {
    position: absolute;
    left: 0.521vw;
}
/* Custm Tree table end */

    /*******Executive Detailed Inner Table Custm Tabs***********/
    .executiveTableInnerTab .react-tabs__tab-list {
    display: flex;
    align-items: center;
    gap: 0 !important;
    }
    .executiveTableInnerTab .react-tabs__tab-list .react-tabs__tab {
    border-bottom: 0.104vw solid var(--stroke-soft, #E5E7EB) !important;
    font-size: 0.625vw;
    line-height: 0.833vw;
    cursor: pointer;
    padding: 0.313vw 0.625vw;
    border-radius: 0 !important;
    border: 0;
    }
    .executiveTableInnerTab .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {background: #FFF;color: #1570EF; border-bottom: 0.156vw solid var(--stroke-soft, #1570EF) !important;}
    /*******Executive Detailed Table Custm Tabs***********/
    .executiveCustTavbview .react-tabs__tab-list {
    gap: 0.417vw;
    }
    .executiveCustTavbview .react-tabs__tab-list .react-tabs__tab {
    border-radius: 0.313vw;
    font-size: 0.625vw;
    line-height: 0.833vw;
    padding: 0.313vw 0.625vw;
    }
    /*******Executive Detailed Table Custm Tabs***********/
    .map-view-marker {
        position: absolute;
        top: 14.323vw;
        left: 38.49vw;
    }
    
    .map-view-marker-2 {
        position: absolute;
        top: 16.615vw;
        left: 46.875vw;
    }
    .vertical-shadow {
        width: 11.719vw;
    }
    .vertical-slider-container .slick-slider.slick-vertical.slick-initialized .slick-arrow.slick-prev {
        height:1.25vw;
        border-radius: 0.417vw 0.417vw 0 0;
    }
    .vertical-slider-container .slick-slider.slick-vertical.slick-initialized .slick-arrow.slick-next {
        height: 1.25vw;
        border-radius: 0px 0px 0.417vw 0.417vw;
    }
    .time_location_btn:hover {
        width: 5.729vw;
    }
    .activelocation {
        width: 5.729vw;
    }
    .custmCalendar.p-calendar .p-inputtext {
        font-size: 0.729vw;
    }
    .width1600.p-sidebar {
        border-radius: var(--border-radius-rounded-2xl, 0.833vw) var(--spacing-0, 0px) var(--spacing-0, 0px) var(--border-radius-rounded-2xl, 0.833vw);
    }
    .custTavbview .react-tabs__tab-list {
        gap: 0.417vw;
    }
    .custTavbview .react-tabs__tab-list .react-tabs__tab {
        padding: 0.417vw 0.521vw;
        font-size: 0.729vw;
        line-height: 0.938vw;
    }
       
    .custInputsearch .p-inputtext {
        width: 17.708vw;
        height: 2.5vw;
        padding: 0 0.625vw;
    }
    .custm-tdsearch .p-inputtext {
        border-radius: 0.417vw;
        padding-left: 2.188vw;
        padding-right: 1.979vw;
        font-size: 0.729vw;
    }
    .custTable .p-datatable-tbody .p-checkbox.p-component {
        width: 0.938vw;
        height: 0.938vw;
    }
    .custTable .p-datatable-tbody .p-checkbox.p-component {
        width: 0.938vw;
        height: 0.938vw;
    }
    .custTable .p-datatable-tbody .p-checkbox .p-checkbox-box {
        width: 0.938vw !important;
        height: 0.938vw !important;
    }
    .custTable.p-datatable .p-datatable-thead>tr>th .p-column-filter-menu-button {
        width: 0.833vw;
        height: 0.933vw;
    }
    .custTable.p-datatable .p-datatable-thead>tr>th .p-column-filter-menu-button::after {
        font-size: 0.729vw;
    }
    .custTable.p-datatable .p-datatable-tbody>tr>td {
        font-size: 0.729vw;
        padding: 0.417vw 1.042vw;
    }
    .custTable.p-datatable .pi-filter-icon.pi-filter, .custTable.p-datatable .p-sortable-column-icon.pi-sort-alt {
        font-size: 0.729vw;
    }
    .custTable.p-datatable .p-sortable-column-icon {
        /* position: absolute;
        right: 0; */
        height: 0.625vw;
        width: 0.625vw;
    }
    .custTable.p-datatable .p-datatable-thead>tr>th {
        font-size: 0.729vw;
        padding: 0.625vw 1.042vw;
    }
    .rememberme .p-checkbox .p-checkbox-box {
        width: 1.938vw !important;
        height: 1.3vw !important;
    }
    .custTable .p-checkbox.p-component {
        width: 0.938vw;
        height: 0.938vw;
    }
    .custTable .p-datatable-thead .p-checkbox .p-checkbox-box {
        width: 0.938vw;
        height: 0.938vw;
    }
    .tableCust .p-paginator .p-paginator-first, .tableCust .p-paginator .p-paginator-prev, .tableCust .p-paginator .p-paginator-next, .tableCust .p-paginator .p-paginator-last, .tableCust .p-paginator .p-paginator-pages .p-paginator-page {
        border: 1px solid #D3D3CE;
        width: 1.719vw;
        height: 1.819vw;
        font-size: 0.833vw;
    }
    .tableCust .p-paginator .p-paginator-prev {
        width: 4.271vw;
    }
    .tableCust .p-paginator .p-paginator-next {
        width: 2.917vw;
    }
    
    .tableCust .p-paginator .p-paginator-prev::after {
        font-size: 0.729vw;
    }
    .tableCust .p-paginator .p-paginator-next::before {
        font-size: 0.729vw;
    }
    .tableCust .pi-angle-left:before{
        font-size: 0.833vw;
    }
    .tableCust .pi-angle-right:before {
        font-size: 0.833vw;
    }
    .tableCust .p-paginator-pages button {
        font-size: 0.833vw;
    }
    .custTable.p-datatable .p-paginator-current{
        font-size: 0.833vw;
    }
    .custTable .p-paginator .p-dropdown {
        height: 2.083vw;
        left: 11.021vw;
    }
    .custTable .p-dropdown .p-dropdown-label {
        font-size: 0.833vw;
    }
    .custmdropdown .p-dropdown .p-dropdown-label {
        font-size: 0.833vw;
    }
    .p-column-filter-overlay {
        width: 8.333vw !important;
    }
    .custTable.p-datatable .p-tag.p-component .p-tag-value {
        gap: 0.521vw;
    }
    .custTable.p-datatable .p-tag.p-tag-success, .custTable.p-datatable .p-tag.p-tag-warning {
        font-size: 0.625vw;
        padding: 0.104vw 0.417vw;
    }
    .custTable.p-datatable .pi-filter:before {
        font-family: 'assetsmanage' !important;
        content: "\e92f";
    }
    .custm-td-filterserach input {
        border-radius: 8px;
        padding-left: 2.188vw;
        font-size: 0.729vw;
    }
    /* Data table end */
    .custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icons .p-sidebar-close {
        gap: 0.417vw;
        width: 4.479vw;
        height: 3.958vw;
        border-radius: 0.833vw;
    }
    .custmSidebar.p-sidebar .p-sidebar-header {
        position: absolute;
        left: -5.729vw;
        top: 45%;
        bottom: 45%;
    }
    .custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icons .p-sidebar-close::before {
        font-family: 'assetsmanage' !important;
        content: '\e90e';
        font-size: 1.25vw;
        display: block;
        color: white;
    }
    .custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icons .p-sidebar-close::after {
        content: 'close';
        display: block;
        color: white;
        font-size: 0.729vw;
        font-weight: 500;
        line-height: 0.938vw; 
    }
}
@media (max-width:1280px) {  }

@media (max-width:1024px) {
    .custTavbview .react-tabs__tab-list {
        flex-wrap: wrap;
    }
}

@media (max-width:991px) {
    .custInputsearch .p-inputtext {
        width: 100%;
        height: 33px;
        padding: 0 20px;
    }
 }

@media (max-width:767px) {  }

@media (max-width:575px) { 
    .custTable.p-datatable .p-paginator-current {
        display: none;
    }
    .custTable .p-paginator .p-dropdown {
        display: none;
    }
}
